@font-face {
    font-family: "Calculator";
    src: url("Calculator.ttf");
}

* {
    font-family: "Calculator";
}

html, body {
    background-color: #2c3e50;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.calculator {
    box-shadow: 0 10px 30px 0 black;
    width: calc(100% - 30px);
    max-width: 400px;
    height: calc(100% - 30px);
    max-height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}